
header
{
background-color:rgb(224, 247, 247) 

}
.a,.b
{
   
    color: rgb(45, 45, 145);
    word-spacing: 10px
     
}
footer
{
background-color:rgb(224, 247, 247)
}
body
{
background-color: azure
}
form1.html
{
background-color: azure
}
.g
{

text-decoration: none; 
color:rgb(63, 118, 155)

}
.h
{
 color:rgb(63, 118, 155) 
}
#q,#r,#s,#t
{
  text-decoration: none;  
  color:rgb(1, 7, 54)
  
}
.f
{
    color:rgb(1, 7, 54)
    
}
.c,.d,.e 
{
   
    color:rgb(63, 118, 155)
}